# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
*.tsbuildinfo
.next/
out/
.turbo/

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# Prisma
packages/*/prisma/*.db
packages/*/prisma/*.db-journal

# Local state
data/
